DATABASE_URL="postgresql://postgres:DemoPassword123!@localhost:5432/hrms_db?schema=public"
JWT_SECRET="hackathon_super_secret_key_123!"
JWT_REFRESH_SECRET="hackathon_refresh_super_secret_key_123!"
PORT=3000
